<form >
    <p-card header="Register" [style]="{ width: '360px' }">
      <div class="field">
        <label for="fullName">FullName</label>
        <input
          type="text"
          pInputText
          formControlName="fullName"
          class="w-full"
          name="fullName"/>
      </div>

      <div class="field">
        <label for="email">Email</label>
        <input
          type="text"
          pInputText
          formControlName="email"
          class="w-full"
          name="email"/>
      </div>

      <div class="field">
        <label for="password">Password</label>
        <input
          type="password"
          pInputText
          formControlName="password"
          class="w-full"
          name="password"
        /></div>

      <div class="field">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          pInputText
          formControlName="confirmPassword"
          class="w-full"
          name="confirmPassword"
        />
      </div>

    <div class="card flex justify-content-center">
        <button pButton pRipple label="Submit" class="p-button-success"></button>
    </div>

    <div class="mt-3">Already a member?
        <a routerLink="/login">Login</a>
    </div>
      
    </p-card>
  </form>