<form [formGroup]="loginForm">
    <div class="card flex justify-content-center">
        <p-card header="Login" class="text-center" [style]="{width:'30rem'}">
            <div class="field">
                <p-floatLabel>
                    <input pInputText id="email" class="w-full" name="email" pInputText formControlName="email"/>
                    <label for="email">Email</label>
                </p-floatLabel>
            </div>

            <div class="field" style="margin-top: 2rem;">
                <p-floatLabel>
                    <input type="password" pInputText id="password" class="w-full" name="password" pInputText formControlName="password"/>
                    <label for="password">Password</label>
                </p-floatLabel>
            </div>

            <p-button label="Sign In" styleClass="w-full" (onClick)="login()"></p-button>
            <div class="mt-4" style="margin-top: 4rem;">Not a Member?
                <a routerLink="/register">Register</a>
            </div>
        </p-card>
    </div>
</form>